<% include ../common/header.tpl.ejs %>



	<h1>这里是种子文件首页, 哈哈,</h1>

<script type="text/javascript" src="/vendor/require.js" data-main="/assets/js/index.js"></script>
<% include ../common/footer.tpl.ejs %>